<!DOCTYPE html>
<html lang="ru" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Мой профиль</title>
</head>
<head th:insert="blocks/head :: head"></head>
<body id="page-top">
<div id="wrapper">
    <div th:insert="blocks/nav :: nav"></div>
    <div class="d-flex flex-column" id="content-wrapper">
        <div id="content">
            <nav class="navbar navbar-light navbar-expand bg-white shadow mb-4 topbar static-top">
                <div class="container-fluid">
                    <button class="btn btn-link d-md-none rounded-circle me-3" id="sidebarToggleTop" type="button"><i
                            class="fas fa-bars" style="color: var(--bs-orange);"></i></button>
                    <ul class="navbar-nav flex-nowrap ms-auto">
                        <li class="nav-item dropdown no-arrow"><span class="d-none d-lg-inline me-2 text-gray-600 small"
                                                                     th:text="${username}"></span></li>
                    </ul>
                </div>
            </nav>
            <div class="container-fluid">
                <h3 class="text-center text-dark mb-1" style="padding-bottom: 20px;">Мои данные</h3>
                <form style="margin-bottom: 10px;">
                    <div class="row">
                        <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><input
                                th:value="${user.username}" class="form-control" type="text" disabled=""></div>
                    </div>
                </form>
                <form style="margin-bottom: 10px;" action="/users/edit/password/" method="post">
                    <div class="row">
                        <div class="col d-xl-flex justify-content-xl-center align-items-xl-center"><input
                                class="form-control" type="password" placeholder="Введите новый пароль"
                                name="password" required=""></div>
                        <div class="col-auto d-xl-flex justify-content-xl-center align-items-xl-center">
                            <button class="btn btn-primary" type="submit">Изменить</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <footer class="bg-white sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © cuspay</span></div>
            </div>
        </footer>
    </div>
    <a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="/js/bootstrap.min.js"></script>
<script src="/js/theme.js"></script>
</body>

</html>